<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">

<div class="container" style="margin-top: 10vh; margin-bottom: 5vh;">

    <h1 style="margin-bottom: 5rem;">
        Create a new patient to the system
    </h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
            <form role="form" method="post" action="/reception/register">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>National ID</label>
                    <input type="text" name="NID"  class="form-control">
                </div>
            </div>

            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>First Name</label>
                    <input type="text" name="firstname"  class="form-control">
                </div>
            </div>
        
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Last Name</label>
                    <input type="text" name="lastname" class="form-control">
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" >
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Gender</label>
                    <input type="text" name="gender" class="form-control"  >
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Phone</label>
                    <input type="text" name="phone" class="form-control"  >
                </div>
            </div>
            

           

            <div class="form-group my-4 text-center">
                <button type="submit" class="btn btn-primary">Add Patient</button>
            </div>
        </form>
        
    </div>
</div>
</div>